.card {
    padding: 0px!important;
    border: none!important;
    background-color: #272730 !important;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.cardheader {
    color: rgb(255, 255, 255) !important;
    background-color: #272730 !important;
}

.cardfooter {
    color: rgba(255, 255, 255, 0.50) !important;
    background-color: #272730 !important;
    font-size: 12px!important;
    font-weight: lighter;
}

.cardbody {
    color: white!important;
    background-color: #2D2D37 !important;
}